{% extends 'base.html' %}

{% block content %}
    <h1 class="headingsort">{% block title %} Kørsler {% endblock %}</h1>
    <h1 class="headingsort">Aktuelle</h1>
    {% for message in messages %}
        <div class='box'>
            <h3>{{ message['title'] }}</h3>
            <p>{{ message['content'] }}</p>
        </div>
    {% endfor %}
    <h1 class="headingsort">Arkiv</h1>
    {% for task in archive %}
        <div class='box'>
            <h3>{{ task['title'] }}</h3>
            <p>{{ task['content'] }}</p>
        </div>
    {% endfor %}
{% endblock %}