<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
</head>
<body>
    <ul>
        <li><a href="{{ url_for('queue') }}"><div class="heading">Kø</div></a></li>
        <li><a href="{{ url_for('tasks') }}"><div class="heading">Opgaver</div></a></li>
    </ul>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>