{% extends 'base.html' %}

{% block content %}
    <ul>
        <li><a class="active" href="{{ url_for('queue') }}"><div class="headinghvid">Kørsler</div></a></li>
        <li><a href="{{ url_for('tasks') }}"><div class="headinghvid">Opgaver</div></a></li>
    </ul>
    <h1 class="headingsort">{% block title %} Opgaver {% endblock %}</h1>
    {% for message in messages %}
        <div class='message'>
            <h3>{{ message['title'] }}</h3>
            <p>{{ message['content'] }}</p>
        </div>
    {% endfor %}
{% endblock %}