{% extends 'base.html' %}

{% block content %}
    <h1 class="headingsort">Scripts</h1>
    {% for script in scripts %}
        <div class="flip-card">
            <a href="{{ url_for('scheduler', script=script['scriptname']) }}">
                <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2>{{ script['scriptname'] }}</h2>
                </div>
                <div class="flip-card-back">
                    <h1>Description</h1> 
                    {% for para in script['docstring'] %}
                    <div class="docstring">{{ para }}</div>
                    {% endfor %}
                </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}